html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
  }
  
  #container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }
  
  #sidebar {
    width: 250px;
    background-color: #252526;
    color: #d4d4d4;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  #sidebar h1 {
    font-size: 20px;
    color: #c586c0;
  }
  
  #sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  #sidebar ul li {
    margin: 10px 0;
  }
  
  #sidebar ul li a {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 16px;
  }
  
  #sidebar ul li a:hover {
    color: #c586c0;
  }
  
  #content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
  }
  
  #iframe-container, #json-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  #content-frame, #json-textarea {
    flex-grow: 1;
    width: 100%;
    border: none;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #d4d4d4;
  }
  
  #json-textarea {
    resize: none;
    padding: 10px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    border: 1px solid #3c3c3c;
    color: #d4d4d4;
  }
  
  #json-editor h1 {
    font-size: 18px;
    color: #c586c0;
    margin: 10px;
  }
  
  #json-editor .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #252526;
  }
  
  #json-editor button {
    padding: 10px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #6a0dad;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #json-editor button:hover {
    background-color: #7b1fa2;
  }
  
  #json-editor label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #d4d4d4;
  }
  
  #json-editor label input {
    margin-right: 5px;
  }
  