/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Container styles */
#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Heading styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="url"],
textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #888;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Footer styles */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

footer a {
    color: #888;
}

footer a:hover {
    color: #007bff;
}
